
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;

    padding: 1rem;
    gap: 1rem;
    border-color: red;
}

.screen {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.calculations {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color:white;
    text-align: start;
}

.display {
    font-family: 'Poppins', sans-serif;
    display: flex;
    color: white;
    
    margin-top: auto;

    font-size: 3rem;
    text-align: end;
    min-height: 4rem;
}

.btnsDiv {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.btnsDiv > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}


button {
  border: none;

  font-family: 'Poppins', sans-serif;
  background-color: #606060;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

.spec-row button {
    background-color: #C0C0C0;
    color: black;
    font-size: 1.5rem;
}

.calc-btn:last-child {
    background-color: #FF9933;
    color: white;
    font-size: 2.5rem;
    font-weight: 550;
}

#zero {
    width: 9.5rem;
    border-radius: 4em;
    text-align: left;
    padding-left: 1.7rem;
}

#backspace {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.7rem;
    font-weight: 500;
}



